body {
    position: fixed;
    width: 100%;
    height: 100%;
}

#navbar {
    background-color: #8e136b;
}

#content {
    background-color: #feb2f786;
}

#sidebar {
    background-color: #404040;
}

#create-btn {
    background-color: #8e136b;
    color: white;
}

#search-btn {
    background-color: #8e136b;
    color: white;
}